<div class = "jumbotron">
  <h1> <img class="logo" src="../assets/images/leaf.png" alt="leaf">Leaf Rent
  </h1>
</div>


<!-- Form login -->
  <form>
  <p class="h5 text-center mb-4">Sign in</p>

  <div class="md-form">
  <i class="fa fa-envelope prefix white-text"></i>
  <input class = "white-text" type="text" id="defaultForm-email" class="form-control">
  <label class = "white-text" for="defaultForm-email">Your email</label>
  </div>

  <div class="md-form">
  <i class="fa fa-lock prefix white-text"></i>
  <input class = "white-text" type="password" id="defaultForm-pass" class="form-control">
  <label class = "white-text" for="defaultForm-pass">Your password</label>
  </div>

  <div class="text-center">
  <button class="login-button btn btn-elegant">Login</button>
  </div>
  </form>

<!-- Form login -->
